<!DOCTYPE HTML>
<html ng-app="CombApp">
<head>
<meta charset="utf-8"/>
<title>Combinatoric App</title>
<link rel="stylesheet" href="/css/bootstrap.min.css"/>
<link rel="stylesheet" href="/css/bootstrap-theme.min.css"/>
<link rel="stylesheet" href="/css/combapp.css"/>
<script src="/js/angular.min.js"></script>
<script src="/js/combapp.js"></script>
<script src="/js/winbar.js"></script>
</head>
<body ng-controller="main">
    <nav class="navbar navbar-inverse navbar-static-top">
        <label class="navbar-brand hider">
            <span class="glyphicon glyphicon-th"></span> <span>Combinatoric App</span>
            <span class="hided">help with combinatorics!</span>
        </label>
        <label class="pull-right navbar-text winbtns">
            <span class="glyphicon glyphicon-minus" ng-click="win.min()"></span>
            <span class="glyphicon glyphicon-plus" ng-click="win.max()"></span>
            <span class="glyphicon glyphicon-remove" ng-click="win.close()"></span>
        </label>
    </nav>
    <div ng-if="screen=='start'">
        <form role="form">
            <h4 class="label-left">Arguments <span class="glyphicon glyphicon-plus addnew" ng-click="addArg()"></span></h4>
            <h4 class="label-right">Code <span class="glyphicon glyphicon-play runcode"ng-click="run()"></span></h4>
            <div class="scroll-left">
                <div class="alert alert-info" ng-repeat="arg in args track by $index">
                    <span class="glyphicon glyphicon-remove remove" ng-click="removeArg($index)"></span>
                    <label>Argument name:</label>
                    <input class="form-control" type="text" ng-model="arg.name"/>
                    <label>Options:</label>
                    <input class="form-control" type="text" ng-model="arg.opts"/>
                    <label>Delimiter:</label>
                    <input class="form-control" type="text" ng-model="arg.delimiter"/>
                </div>
            </div>
            <div class="scroll-right">
                <textarea class="form-control" ng-model="$parent.code"></textarea>
            </div>
        </form>
    </div>
    <div ng-if="screen=='vars'">
        <div class="result" ng-repeat="v in vars">{{v}}</div>
    </div>
</body>
</html>